$input-placeholder-color: #838D99;

.book-list-container {
    .book-list-header {
        width: 100%;
        height: 250px;
        color: var(--brown-100);
        box-shadow: 0 5px 10px var(--brown-100);
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/book-room.png");
        display: flex;
        justify-content: center;
        align-items: center;

        .sub-header {
            font-size: 48px;
            text-align: center;
        }

        .search-container {
            text-align: center;

            h2 {
                font-size: 48px;
                margin-top: 0;
                margin-bottom: 15px;
                color: var(--white);
            }

            img {
                margin-top: 30px;
                width: 250px;
            }
        }

        .search-input {
            font-size: 16px;
            line-height: 1.5;
            border: none;
            background: var(--white);
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
            background-repeat: no-repeat;
            background-position: right 10px top 10px;
            background-size: 20px 20px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
            border-radius: 5px;
            width: 250px;
            padding: 8px 16px 8px 16px;

            &::placeholder {
                color: $input-placeholder-color;
            }

            &:focus {
                outline: none;
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
            }
        }
    }

    .book-list-body {
        padding: 50px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 0.5fr));
        grid-gap: 50px;
        box-sizing: border-box;

        @media (max-width: 768px) {
            padding: 30px;
        }

        @media (max-width: 600px) {
            justify-content: center;
        }
    }

    .blank-data {
        text-align: center;
    }
}